@use 'scss/index' as *;
@use '@variables/global-variables' as *;
@use '@tools/rem-calc' as fn;

html,
body {
  height: 100dvh;
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;

  height: 100%;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 950;
}

h1 {
  font-size: clamp(2rem, 8vw, 3.6rem);
  line-height: 0.98;
  letter-spacing: -0.045em;
}

h2 {
  font-size: 1.45rem;
  line-height: 1.05;
  letter-spacing: -0.025em;
}

h3 {
  font-size: 1rem;
  line-height: 1.1;
}

h4 {
  font-size: 0.95rem;
  line-height: 1.15;
}

h5 {
  font-size: 0.9rem;
  line-height: 1.15;
}

p {
  font-size: 0.875rem;
  line-height: 110%;
}

@media (max-width: fn.rem-calc(800)) {
  body {
    background-attachment: fixed;
    background-position: fn.rem-calc(-350) top;
  }
}
